.residence {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:1rem;
    padding: 1rem;
}
.deliveryInfo {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table{
    border-collapse: separate;
    border-spacing: 1rem 2rem;
    border: 1px solid #c4c0c0;
    border-radius: 9px;
    box-shadow: 2px 3px #00000041;
}
.tableContent {
    padding: 0.8rem;
    
}